/*
<style type="text/css">
*/
.ul-menu{
	margin: 50px 0 0 0;
	padding: 0;
	list-style-type: none;
	text-indent: 0em;
}
.ul-menu li{
	padding: 20px 0 0 0;
	font-size: 18px;
}

/* CSS Document */
body {
	font: normal 14px auto "Trebuchet MS", Verdana, Arial, Helvetica,
		sans-serif;
	margin-top:0px;
	padding-top:0px;
}
H1{ font-size: 26px; font-weight: bold; margin-top:5px; margin-bottom: 2px;}
#techlib-content,#techlib-head{
	width:720px;
	margin-left:auto;
	margin-right:auto; 
}
#techlib-content{padding-top:15px;}

a {height:20px; line-height:20px; color:#000; text-decoration: none; }
a:hover, .selected a{ background-position: right bottom; color:#999; }
#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #f0f0f0 no-repeat;
}


th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	font-size: 14px;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

/*power by www.winshell.cn*/
td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

/*---------for IE 5.x bug*/
html>body td {
	font-size: 14px;
}

body,td,th {
	font-family: 宋体, Arial;
	font-size: 14px;
}
/*
</style>
*/