/*<STYLE type="text/css">
*/
	BODY,P,UL,LI,a {
	 font-size: 14px;
	}
	body{
		/*-一般中文Windows系统都支持宋体(默认, SimSun)
		和黑体(SimHei)和楷体(kaiti_gb2312)
		\5FAE\8F6F\96C5\9ED1 是指微软雅黑-*/
		font: 14px normal \5FAE\8F6F\96C5\9ED1,Verdana, Arial, Helvetica, sans-serif;
	}
	H2 { font-size: 20px;} /*-每章标题的样式-*/
	H3 { font-size: 16px;} /*-每节的样式-*/
	H4,H5 { font-size: 14px; } /*-h4每节中点的样式, h5每节中点中的小点样式-*/
	div { word-break: break-all; dispaly: block;}
	menu h2{ font-size:20px; margin-left:-40px; }
	menu h3{ font-size:16px; margin-left:-40px; }
	menu h4, menu h5{ font-size:14px; margin-left:-40px; }
	
	.note{ margin-left:2em; margin-top: 6px; margin-bottom: 0px; }
	.note-head{
		font-family: SimHei;
		/*font-size:16px;*/
		color: black;
		font-weight:bold;
		/*border: 1px solid;*/
		margin-bottom: 0;
		width: auto;
	}
	.note-body p{ margin-top:6px; text-indent: 2em;}
	
	#techlib-topic,#techlib-topic-notelist{
		/*border: 1px solid;*/
		width:720px;
		margin-top: 5px;
		margin-left: auto; 
		margin-right: auto;
		padding: 5px 25px 5px 25px;
	}

 	#techlib-topic-rightbar{
 		/*border:1px solid #000000;*/
 		width: 275px;
		float:right;
		padding-bottom:20px;
		/*解决空白内容合并
		border:1px solid transparent;
		overflow:hidden;
		zoom:1;
		*/
 	}
	#menubar{
		margin-top: 20px;
		padding-top: 10px;
		padding-left: 20px;
		padding-bottom: 30px;
		padding-right: 0px;
		margin-right: 0px;
		margin-left: 10px;
		margin-bottom:10px;
		float:right;
		border:2px solid #ddddff;
		width:240px
	}
	
	#ad-topic-rightbar-bottom{
		font-size: 13px;
		margin-top:0px;
		margin-left: 20px;
		margin-bottom:10px;
		paadding-top:0px;
		padding-left:auto:
		padding-right:auto:
		float:right;
		width:255px
		/*border:2px solid #ddddff;*/
	}
	#ad-topic-rightbar-bottom a{ font-size:14px; }
	#ad-topic-rightbar-bottom a:hover{ font-size:14px; }
	
	#title,H1{ font-size: 26px; font-weight: bold; margin-top:5px; margin-bottom: 2px;}
	#subtitle{ font-size: 16px;  font-weight: bold;}
	#authorline{ font-size: 14px; padding-top: 10px;}
	#tagsline{font-size: 14px; padding-top: 10px;}
	.menubar-ul { margin: 0; padding: 0; list-style-type: none; }
	.menubar-ul a{ /*display: block;*/ height:20px; line-height:20px; color:#000; text-decoration: none; }
	.menubar-ul a:hover, .selected a{ background-position: right bottom; color:#999; }
	.menubar-ul h2{ font-weight:normal; font-size: 14px; margin-top:2px; margin-bottom:0px;}
	.menubar-ul h3{ font-weight:normal; font-size: 14px; margin-top:2px; margin-bottom:0px; margin-left:2em; }
	.menubar-ul h4, .techlib-menubar-ul h5{ font-weight:normal; font-size: 14px; margin-top:0px; margin-bottom:0px; margin-left:4em; }
	
	
	.ad, .search, #ad-topic-tags a,#ad-topic-author{
		color:#000; text-decoration: none;
	}
	.ad:hover, .search:hover, #ad-topic-tags a:hover,#ad-topic-author a:hover, .selected a{
		background-position: right bottom; color:#999;
	}

	pre {
	    font-size: 12px;
	    padding: 0;
	    margin: 0 0 10px 0;
	    background: #f0f0f0;
	    /* border: 1px solid #ccc;
	    border-left: 1px solid #ccc;
	    border-bottom: 1px solid #ccc; */
	    line-height: 20px; /*–Height of each line of code–*/
	    /*background: url(pre_code_bg.gif) repeat-y left top; *//*–Background of linedpaper–*/
	    width: auto;
	    overflow: auto; /*–If the Code exceeds the width, a scrolling is available–*/
	    overflow-Y: hidden; /*–Hides vertical scroll created by IE–*/
	}
	/*-pre code {	font-family : Consolas, "Lucida Grande", Courier, Verdana, Lucida, Arial, Helvetica, 宋体,sans-serif;    }
	-*/ 
	pre code {
	    margin: 0 0 0 20px; /*–Left Margin–*/
	    padding: 9px 0 0 0;  /* 18px per row */
	    display: block;
	}
		 
	p{text-indent: 2em;}/*-首行缩进两个字符-*/
/*
</STYLE>
*/